* {
  margin: 0;
}

.container {
  display: grid;
  padding: 30px;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.container2 {
  display: grid;
  padding: 30px;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.container p {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.container2 p {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
